{
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    no-sync: "warn",
    func-names: "off",
    no-restricted-syntax: "off",
    prefer-arrow-callback: "off",
    no-unused-expressions: "off",
    strict: "off",
    no-magic-numbers: "off",
  }
}
